/**
 * Global styles for the extension
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure our banner doesn't interfere with page styles */
.tw-banner-root {
  all: initial;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    sans-serif;
}

.tw-banner-root * {
  all: unset;
  display: revert;
  font-family: inherit;
}
